comments sections are a welcome distraction from my work
the rest of the comments can be skipped easily
other search engines do not re-direct to google
it does not show that she will be biased against anything that has anything to do with Trump
a huge pandemic would not be a great news story
the role of a citizen and a supreme court justice are separable
a majority of these comments are not trolls or arguments about preferences.
being gay is considered a sin
I want to see all these ideas, even stupid ones
they can cause quiet meaningful debates
these standards are government's responsibility
most people can control their addiction
you are able to find information online
Information is important.
readers need multiple perspectives
the majority of gun violence in performed by people who have not already been background checked and vetted
one punishment is not enough
most often these opinions can be shared without entering into an ugly and unhealthy debate
they are interested in the electoral process
the athletes won't get sick going to Brazil
students should be taking those classes by force
comments usually don't devolve into attacks
the debt to society, in most cases, can truly be repaid
this did not save their souls before they entered heaven
people are capable of have conversations without arguing and name calling
this often results in healthy debates and enlightenment when there is moderation
an act created by a single person or group is representative of the religion as a whole
the Palestinians will be willing to compromise
democracies don't often fail
the primary concern should be the feelings of the professors, not the safety of the students
they are protected while they are citizens
the court requires dignity
direct engagement with customers earns more than it costs
being a gay is considered sin by Christians
making a fashion statement hurts
the author of an article does not have a right to be considered more important than a comment
like most patients who use the sites, I'm no exception
only one person can talk at a time
we are not Nazi Germany
people will not be able to compete elsewhere
some people like conflict or direct engagement
justices do not have a right to free speech
varied opinions cause thought
citizens feel it the same way
commenters who have responded have done so in a structured, logical fashion
they do not stand in the way of letting good military  forces get to the root of the ISIS problem
status quo should be codified
there are lots of people who abuse the privilege of commenting
many felons are reformed
many sites have proper moderation and therefore do not end up overrun by trollish comments
more people wearing them would not lessen the disrespect
these corrections are usually noticed, and have successfully changed opinions
NATO is an organization that routinely exposes violations of civil rights
a little information solves a lot of problems
we are watching history unfold right now
they are partnering with other companies and not completely taking over the market
solid citizens are not bad people
people should not be uncomfortable
doctors have enough time to learn various things
the abuse of posters doesn't overshadow any good the constructive comments provide
most comment sections are well-moderated
most ADHD kids were already diagnosed
it is her responsibility as a citizen to mitigate danger
medical websites allow patients to learn more without the doctors
it appeared no one was enjoying the park
vulgarity is never fun to read
that is not the very nature of capitalism
Christians do not have a live and let live policy
people in the comment sections don't look for lively disagreements
raising people from poverty is a requirement for canonization
there are many opinions available in the comment section
it is easy to point out professional bias
marijuana is never prescribed
consensus and compromise make one stronger
this epidemic has a huge relevance to the games
they can opt-out from being indexed by their search engine
these views are always welcome or agreeable to mainstream society
the worst times of my life were as a schoolyard bully
I am not voting for Hillary
the best way to defeat sexism is to remove it
Christian views are much different
Palestinian violence has lessened recently.
knowing history means that we won't repeat it
the US is not even relying on Turkey in the fight against ISIS
Trump is a threat to American values
sometimes people are forced to commit a crime
usually there is a lot to learn
other people stoped commenting too
justices won't remain unbiased
everyone needs to hear new insight on topics
learning is most effective when enforced
moving will make a statement
they can speak up any opinions
education and employment make society better
learning a language in college is more easily done than experiencing the culture
she didn't really save their souls by converting them
there are very few cases where internet research has put people in danger
most of these perspectives are different than other people's views
stubborness is not a virtue
enjoyment was the purpose of the comment sections
people in the comments section are also biased but it equals out overall
the nuts provide no entertainment and discourage readership
what works for many, works for everybody
the Swiss and Dutch government is similar to ours
these websites can often be easy to understand and lead to a informed diagnosis for someone
there is no way back from the public forum
more context and perspectives is enlightening
lack of education costs less
many people share their voice and complement the writer
diversity wouldn't be good for NATO
many people feel that way
a person could easily correctly self diagnose and then seek the right treatment
comments allow us to come to a compromise
it is not up to every individual and country to decide whether to attend, they can't choose not to in order to make a statement about how much importance we place on these games
participating countries should be required to have the same ideologies
religious beliefs and civil rights are in accordance
a situation isn't ever so severe that even their best efforts aren't enough and they are not obligated to warn us of danger
Supreme court justice is an imporant intelligent person
felons participate in our society
problems are solved by permitting opposing sides to understand the other side's argument
those churches do represent the majority of christians
being exposed to other views is enlightening
patients often take the knowledge they gain on the website as comprehensive but get checked out by a doctor when they are able
journalists in todays media deserve respect
authors sometimes write sloppily
the patient can skip the doctor all together and save time
the Palestinians will be forced by religious pressure to compromise
people have had an anti-gay view for ages with Christian religion
the Olympics will be a festive event bringing countries together if it goes on as scheduled
iran has killed people recently
enforced availability and accountability might prevent a monopoly
this discussion often ascends into respectful name dropping
people will correctly self diagnose
the actions of Donald Trump are not ethical and moral
the pools at the Olympics are not sterilized properly
the corrections in the comments are usually true
guns are not the height of civilization
children won't be allowed to continue interrupting under the guise of having a disease
we have the money to invest
insults and demagoguery is the worst way of communication
propaganda is not the grease of the democratic wheels
most of what I read in comment sections are not abusive and profane
senior citizens shouldn't be required to make difficult decisions
speaking your mind always leads to healthy discussions
grand theft auto is a felony
hard drugs are not sweeping the nation
I can't gain knowledge somewhere else
people that have an addictive characteristic probably won't pot
weak regimes are the most predictable and least dangerous
the health of people is more important than a global sport event
in America greed is bad
these insults detract readers and lose money for the papers
there aren't ways to defend against nuclear threats
it's the job of other commenters to correct the comments of the abusive people
a patient will not research a strain of illness not related to their own and their oncologist will be able to convince them of this
fellons are still US citizens
elections are prone to lies and promises
all theocratic governments are bad
the stats show that in fact many people do not have serious drug addictions
decorum shouldn't deter their speech
the less people on a website, the less income for websites
marijuana is not an addictive drug
regardless of the valuable content in the comments, writers supply well-written articles
learning never hurts
the small group does represent all of Christianity
the comments are moderated
I diagnosed my illness
it's unethical to boost funds through outside sources
felons have not violated societies laws necessarily
the Palestinians will not otherwise be violent
most people don't start using drugs with marijuana and it doesn't lead them chase the high and move on to opioids and heroin
the gay employees and members of a church are not made to feel guilty
making better journalists is the responsibility of commenters
others are not just filled with red neck dreck
marijuana is not always available by prescription
Medicare expenses are indeed too much for the country
authors always comment in the comments section and there is moderation on most sites
it is Medicare that needs the most change
helping the rich isn't ok in a capitalist society
people should not try to do excessively hard things in college
the doctors haven't yet done everything they can to address the issue already
the people discussing issues in the comments section know how to discuss
people want to read the whole story
funding with tax money means free
not all American companies aspire to monopolies
government's attention is necessary
the court can judge someone on their energies
different views complement the main article
opioids are the most effective method of pain management
people who use marijuana sometimes do not go on to use more dangerous drugs
good moderation is available
radical islam is not fueled by Christianity
some comments are interesting and useful
that improves the publications
the government can limit the speech of a simple transit worker but not a justice
out of state students outnumber in-state students
the expense doesn't benefit the college
those ideas are rarely lunatic
the religious people who make these comments are Christians
our advancement will be equally inconsequential
high-value comments help publishers attract readers
people in Christianity make up the majority
it is Ginsburg's place to speak on the  fitness of a potential president
higher education fosters virtue
other people often think same way
it is not inappropriate for justices to use their elevated public positions to make statements about political issues
someone needs to impart regulations that have the citizens in mind
the training will stop all doctors
comments are moderated
abuse never leads to great discoveries
it isn't linked to leading to mild use of others
we can't close insurance companies like that
I had a really tough time with that prescription
Dreher represents most  Christians
the system doesn't need to be changed
there are too many people that think they know about the topic at hand, and they really do
opioid training has a national standards
felons have a well-honed sense of integrity
standards are enfornced by mandatory training
most sections don't lack moderating
many opinions, especially those that are shared the most enthusiastically, are informed and helpful
voting is a right
health care will always be a market industry
problems and shortcomings don't get blamed on the diagnosis
everybody hates someone with a Munchausen complex
there are not many people with drug addictions
a few comment sections are not well-moderated
they've also embraced them in other cases
inappropriate comments make them excruciating
Iran doesn't have enough money or jihadists
those abuses are rarely vile and do not bully other users or spread false information
people only go to the comment section to troll
less guns will lead to fewer risks
I followed the website information and got helpful info
denouncing a candidate is a statement of their political views
most christians do not truly believe that they should love everyone as Jesus did even if they are sinners
we should allow private alternatives
teenagers that make bad decisions could not be stopped by a gun
Obamacare is only about governing insurance companies
that moderation has proven to establish itself elsewhere
this does goes beyond the basic knowledge gained in high school
such risks are't always a factor when other countries host the olympics
self diagnosis has internal bias because patients know themselves better and it has a less chance for error.
supreme court justice can never go beyond her job
everyone is contributing  knowledge
expressing an opinion about a candidate's moral character has everything  to do with politics
this diagnosis caused me to live in less pain for the rest of my life
mindless vitriol and verbal violence are hard to read
the discussion quickly gets better
milk is similar to marijuana
this education should consist of more than only job training
not all drugs are gateway drugs
this is a personal belief that can sway the law or change what homosexual people are allowed to do
they outnumber passionate baby boomers who are determined to keep the status quo
students need to learn about both their own culture and foreign cultures
the poor should not learn how to embrace suffering
most people that use the internet are as intelligent as I am
most comments sections have good views from sane people
the courts place is in moral judgements
these perspectives often include pure, loving comments directed at individual people
the safety and health of the participants is a big deal
these are leaders
the voice of the majority of Christians is harmful
it shouldn't wait for that to occur beforehand
we all know how useful divergent opinions can be
primary election is just as an election
these fake articles by anonymous people have decreased interest and appreciation for "real" journalism
propaganda is a powerful method of spreading falsehoods
comments don't detract from the original article
Google hasn't done so much to help the economy, its workers, and users.
these same websites can be full of information that enlightens and informs
there is a great risk of a Zika outbreak in Brazil
only Christians have tried to define it as such
other commenters usually jump on the bandwagon
it would not make the people's suffering more justified
it is only acceptable from a real Christian perspective
this would not show she is biased towards anyone  and would not influence her decision on cases
comment sections are not filled with stupidity and people who lack common sense
good and decent people are a true reflection of the readership
most marijuana smokers also dabble in other harmless activities
comments often do help with that
most organizations do engage with the comment section
it's so easy to find a comment that is worth reading
the job has a lower priority than opinions
violence on campus or off cannot be prevented
this idea is one that is only taught by Christians
wearing a hijab offers a form of exclusion among women
Brazil can't pump in fresh water
they are never gullible
when she is acting as a justice, she is still a citizen
government shouldn't regulate the free market
Mother Theresa did not use the contributions to help the needy
the congressman promotes killing gays
an early reservation system implies restricted access
justices can choose not to live in silence
the public knows what is talking about
stories need not be able to stand alone without comment
providers are already accountable for treatment
This important insight and knowledge usually turn out to be true
most of their issues are wanting to do more legal things.
it isn't possible to express an opinion without saying it
Christians are only following holy orders and the ideals portrayed in the book
usually those feelings are not malicious and intolerable
etiquette is for judicial comments too
the comment sections actually seldomly need to be moderated
these readers are often knowledgeable and cause the article to be healthily debated
many Christians would like for us to do the same as in Muslim countries
the right information is out there too
the extra money isn't spent on all students
these sections do not provide the best entertainment
Google is playing nice with all their competition in their bid for success
this speaking out has done many things that are constructive
Christians never abandoned religious dogma
the low costs are not a reflection of the substandard care
wrongful convictions need attention
Christians hate the act and the people
physicians are not available 24/7
that is in the present and Turkey is not looking to turn over a new leaf
this is not what every politician does
the presence of Chinese students means other students aren't being educated
Muslims need to know that the two state fix is going to be the acceptable answer
there are some fundamental similarities between the three models with favor to the Dutch and Swiss
the Court doesn't need to seem politically impartial
cheating is not how you get ahead in life
the media have spotted a widespread trend
everyone wants a different view
the people likely to be in charge of Iran in the long term view the US much worse than it's current leadership
conversation is the driving force of democracy
a doctor has a responsibility to treat patients problems at all costs
more money does not mean a better education for everyone
Rick Allen is what people thing of as a good Christian
compromises are good solutions which solve underlying problems
extreme cases seldom happen
tuition from out of state students can lower the rate of in-state students
It would be disastrous to fail to point out Donald Trump's actions.
moderation is usually good
often times these aren't opinions disguised as facts and bullying tactics to force people into one belief system
marijuana does not lead to a false sense of security with drugs
I have seen different views
doctors are not needed for proper diagnosis
comments are moderated
we all deserve to be comfortable in a truly free society
it is not needed to fight Russia
low costs mean better coverage
they work for the taxpayers and are not payed to be completely impartial
gay people are human
I would be happy to pay tuition for everyone, even some rich kids
Churches tell people to shun gay people.
the statistics proves neglecting
people should know her personal opinion as justice
the elderly are not the only people that are affected
children's safety doesn't reflect the overall situation
their plans will not change in a decade or so
their public opinions cannot be restricted to only certain topics
he lived after taking their advice
they are still also citizens
voicing her opinion should not cause her to be removed from office
private colleges are not doing just fine
we need people with experience or knowledge fact checking a researched article
learning leads to questioning, which leads to acceptance
others usually feel that the article is written by a Smurf or someone who is not enough of a Smurf
the students themselves pay tuition
They need to uphold the rule of law regardless of any circumstances
the connections from comment sections haven't caused hate and verbal abuse to proliferate
deranged people write rude comments
people do not like to read vulgar, nasty things
denouncing is bias
interaction in many activities is needed
justices' opinions, even when open, will not affect their rulings
there is moderation and good discussion
the public is  not smart enough to discern this and weed out the guilty activists
monopoly is bad for the economy
judge's opinions are able to sway voters
people insulting each other is not as entertaining as the article
the current format is the same
America can't withstand the remarks of one person
the people know it's better to be loudly opinionated
patients can't use this information to misdiagnose themselves and seek the wrong kind of treatment
people always disagree with each other in these comments
carrying weapons turns nobody into a public danger
serving others is the core of politics
people use them then decide to not wait until the next day and call the ambulance
denouncing a candidate is politics
marijuana dealers usually don't upgrade their customers to cocaine
these unlikely sources have proven add a lot to the discussion
Palestine doesn't want to compromise
it isn't cool to wear these
sometimes freedom of speech cannot be limited
rising the bar too high harms competition
universities gain additional funds to make more profit
ideological diversity makes alliances less effective, like in Sweden and Germany
playing a game is different from reign over humankind
having too many visitors at once does not ruin the experience for anybody
judges should appear fair and honest
the worst way to assure that is raw capitalism
most of the other sites do not have horrible comments sections either
that's not easily affordable
doctors need to be honest at all times
rarely does that opposing side come across in a heated and ugly way with name calling and false information
there are many gems
that should affect on weather or not they can contribute financially or with armies
very few comment sections are moderated because they're so high quality
many Christians take the Bible literally
restrictions might ultimately cut down on wait times
Christians won't apologize for their anti-gay behavior and have become more intolerant
abundance of information helps self-diagnosis
students cannot properly be exposed to other cultures in other venues
these opinions aren't often marginal and extreme
political issues are no threat to Olympic games
most doctors prescribe badly
well written comments are joy to read
criticism attracts even more hate for gays
many people make differences in the city and are canonized
covering needs of students that are not tution based is a major issue
these attacks don't make for great reading
only the government has the power to regulate effectively
Negative comments do not stand out.
compromises in the comments sections happen
the true failures with Obamacare lie in noncompliance by insurance companies and the program won't do better even with proper enforcement
they cannot be trusted to make fair judgments if they are openly opposing a candidate
moderation is plentiful and good discussion are easily found
being informed means to understand
addicts are not addicted mentally to all drugs
better questions improve the doctor-patient relationship
life always has some risk of danger but these athletes shouldn't have to deal with them every day
I was just bored of commenting
Opioids and their over-prescription are hardcore drugs people do instead of marijuana
her opinion doesn't actually become law simply by being expressed
teaching intolerance is harmful
most opinions are worth hearing
Nazi Germany had a very powerful justice system
what people are learning is they cannot say whatever they want and likewise can be accountable
even college drops caused by overestimated capabilities would be tax dollars well invested
it doesn't  even the playing field especially if there's degradation involved
Many college students do vote
marijuana is not available by prescription
discussion of democratic ideas do not lead to revolutions
this applies to every job and might be important to some industries too
we don't see violent incidents
all views should be heard
most medical websites are legitimate
an addict who uses marijuana won't have a tendency toward addiction and trying harder things
wearing them perpetuates a sexist practice
Obamacare is  paying attention to successful models
