Interns are replacing employees. And since that helps the company's bottom line. Unpaid internship exploit college students
If they play for high school team maybe they can overcome the prejudice of being home schooled. And since there are prejudices that need to be overcome as a home schooled student. Home-schoolers should play for high school teams
Libraries provide a venue for a number of desirable individual and shared life-enhancing activities. And since this can't be found in other buildings and online venues. We need libraries
Internships are abused by employers and they should be monitored for misuse. And since college students do not need to see how the "real world" is going to be. Unpaid internship exploit college students
Greece cannot support its own economy and is bringing the Euro down. And since I believe the Euro cannot handle it. Greece will destroy the Euro Zone
I have poor handwriting and  mainly use technology but cursive writing still feels important to me. And since facts and actual use are less important than base sentimentality. Students should be taught cursive
The U.S. should support the Kurds only. And since Assad is only half Kurdish on his mother's side and not a true Kurd. The U.S. should not work with Assad to fight ISIS
The library brings community together as a center for development. And since there are not regular city meetings to bring the community together nor are there numerous events. We need libraries
My library has many kinds of learning available and provides a community space for everyone, which I love. And since churches and other buildings don't offer the same things and the internet is full of free information. We need libraries
Social mobility is stifled by unpaid internships. And since we don't need to keep some groups in their place socially. Unpaid internship exploit college students
Obamacare used low rates as a shell game to hide high deductibles and co-pays. And since I detest high deductibles because I often use my insurance. Obamacare is not working
