Interns are replacing employees. And since that helps the company's bottom line. Unpaid internship exploit college students
If they play for high school team maybe they can overcome the prejudice of being home schooled. And since there are prejudices that need to be overcome as a home schooled student. Home-schoolers should play for high school teams
Libraries provide a venue for a number of desirable individual and shared life-enhancing activities. And since this can't be found in other buildings and online venues. We need libraries
Internships are abused by employers and they should be monitored for misuse. And since college students do not need to see how the "real world" is going to be. Unpaid internship exploit college students
Greece cannot support its own economy and is bringing the Euro down. And since I believe the Euro cannot handle it. Greece will destroy the Euro Zone
I have poor handwriting and  mainly use technology but cursive writing still feels important to me. And since facts and actual use are less important than base sentimentality. Students should be taught cursive
The U.S. should support the Kurds only. And since Assad is only half Kurdish on his mother's side and not a true Kurd. The U.S. should not work with Assad to fight ISIS
The library brings community together as a center for development. And since there are not regular city meetings to bring the community together nor are there numerous events. We need libraries
My library has many kinds of learning available and provides a community space for everyone, which I love. And since churches and other buildings don't offer the same things and the internet is full of free information. We need libraries
Social mobility is stifled by unpaid internships. And since we don't need to keep some groups in their place socially. Unpaid internship exploit college students
Obamacare used low rates as a shell game to hide high deductibles and co-pays. And since I detest high deductibles because I often use my insurance. Obamacare is not working
They have paid for the right through taxes and deserve the chance to further their athletic abilities. And since even though people without children pay the taxes too. Home-schoolers should play for high school teams
Syria has hurt its own people and it should be addressed. And since it is the place of the US to be the watchdog of the world when plenty of our own are being mistreated. US should attack Syria
NATO is an organization without a purpose. And since NATO only looks good on paper. We should disband NATO
College sports make tuition higher. And since high tuition doesn't always mean more money to pay professors. Drop sports program in undergraduate schools
Internships are abused by employers and they should be monitored for misuse. And since Unpaid internships are insufficiently regulated.. Unpaid internship exploit college students
Librarians ensure teachers have the necessary resources. And since the internet doesn't offer teachers all the resources they could need. School librarians are not expendable
It is unsupportable for companies to suppress employees' future career options. And since a business shouldn't worry their employees becoming their next competitor. Businesses should not be allowed to have new employees sign noncompete deals
Understanding other culture is more important now than ever before. And since more people now fail to understand other cultures. Colleges need humanities programs
Vaccinations save lives. And since overpopulation isn't really a problem. Vaccination should be mandatory for all children
Enforcing minor violations sets the level of civility that is to be expected in neighborhoods. And since there aren't many minor violations that are silly and outdated and should be ignored. Strictly enforcing minor violations deter more serious crime
Politicians are criticized for pandering to unintelligent voters, so it makes no sense to demand that a larger number of such people be forced to vote. And since mandatory voting will force society as a whole to coerce more people. Voting should not be mandatory
We should support humanities programs to create a intellectual ecosystem that is complex and evolved. And since college is about complex intellectual ecosystems and not job preparation. Colleges need humanities programs
In recent years, there have been a few outbreaks of viruses that were once all but eradicated and they can be blamed on people who make "capable" choices. And since the freedom  of choice is dangerous here. Vaccination should be mandatory for all children
Humanities help students to process information and communicate with other people more effectively, sometimes in other languages. And since these are things that shouldn't be learned in the formative years or in one's spare time outside of school. Colleges need humanities programs
People who want extra salt should be able to enjoy it. And since they are free to patronize other restaurants but that would cost a restaurant their business. Salt should have a place at the table
Only those who are well off can afford to work without pay. And since college is no exception to the rule (college kids usually have no other income, from parents, financial aid, etc.) so. Unpaid internship exploit college students
Libraries provide much needed activities for caregivers and young children in communities. And since there aren't better venues for many activities. We need libraries
Dual citizenship allows one to enjoy the pros and cons of the home country and the country that is welcoming them. And since people should be welcomed in more than one country. Dual citizenship should be allowed
These preschools will benefit the lower middle class too who do not get free childcare programs, so their children won't be left out and fall behind. And since benefiting the lower middle class is a good policy. Public preschool is a smart investment
Reality shows fake misery, drama, and embarrassment and pretend as though it is real. And since regular television is staged and orchestrated events solely for entertainment purposes but this is supposed to be real. Reality shows are worse than other TV
Anyone refusing to vaccinate children should be liable for any disease or death they cause. And since the parents do not have to pay restitution for their choice. Vaccination should be mandatory for all children
Americans need to learn about other cultures. And since some Americans can't travel to learn about other cultures. Colleges need humanities programs
Standards of work should include minimum wages. And since college students are earning a valuable experience that is not more important than minimum wage. Unpaid internship exploit college students
[Not vaccinating] puts others at risk. And since those other people cannot get vaccinated. Vaccination should be mandatory for all children
Humanities help students to process information and communicate with other people more effectively, sometimes in other languages. And since we need more than one language to function even if we can use apps if we have to translate. Colleges need humanities programs
TFA has made teaching positions something that the best and brightest are in competition for. And since the best and brightest are what schools have at the moment. TFA has raised the status of public teachers
Without tenure, there are too many little things that teachers could lose their jobs over. And since Teachers need job stability. Tenure provides stability
My children's schooldays are too long to keep their attention. And since children wouldn't be afforded a mid-day nap were the day lengthened. School day should not be longer
The CIA is not very secretive which makes them ineffective. And since it is not the only secret agency we have. We don't need the C.I.A.
Internships permit students to work for free in order to prove that the student is worthy of future, paid work. And since 'worthiness' is a valid form of payment. Unpaid internship doesn't exploit college students
These preschools will benefit the lower middle class too who do not get free childcare programs, so their children won't be left out and fall behind. And since few private preschool programs are available and offer their own funding assistance without taking money from the taxpayer. Public preschool is a smart investment
TFA has made teaching positions something that the best and brightest are in competition for. And since TFA has elevated the public perception of these teaching positions. TFA has raised the status of public teachers
The chef can't know how each person wants their food seasoned. And since the chef may not season the food reasonably. Salt should have a place at the table
Writing cursive can stimulate thinking. And since we want students thinking all the time. Students should be taught cursive
If performance enhancing drugs are allowed it will be unfair to those not interested in taking them. And since not all athletes take performance enhancing drugs. Doping should not be allowed
Some are not willing to take the risk of vaccine injuries. And since the risk of vaccine injuries is much high than the risk of disease. Vaccination should not be mandatory for all children
People who choose not to vaccinate their children endanger their children as well as others. And since a little risk is no good for anyone. Vaccination should be mandatory for all children
Interns are replacing employees. And since internships do not provide valuable experience for the students while saving the companies money. Unpaid internship exploit college students
There is no proper method to evaluate colleges. And since the government could not come up with a proper method if it was given incentive. Government should not grade colleges
Only people with money can afford to be unpaid interns since some people need to work to support them self or pay their loans. And since College students support themselves. Unpaid internship exploit college students
Allowing doping will turn athletics into a chemical competition instead of a human one. And since people would not like a chemical competition. Doping should not be allowed
There aren't enough American citizens willing to work on farms. And since there won't be a decrease of farms so that there are enough American citizens to work on them. Farms couldn't survive without illegal labor
If they play for high school team maybe they can overcome the prejudice of being home schooled. And since their parents do not allow them to attend public school for a specific reason, this reason wouldn't still be present in the athletic programs. Home-schoolers should play for high school teams
Libraries provide access to books to minority children. And since books available to all smart devices don't feel the same as printed books. We need libraries
Farmer's should pay viable wages to American workers despite the higher prices that would result, America's history shows they will do the work. And since there are American workers wanted to work on a farm. Farms could survive without illegal labor
