Interns are replacing employees. And since that helps the company's bottom line. Unpaid internship exploit college students
If they play for high school team maybe they can overcome the prejudice of being home schooled. And since there are prejudices that need to be overcome as a home schooled student. Home-schoolers should play for high school teams
Libraries provide a venue for a number of desirable individual and shared life-enhancing activities. And since this can't be found in other buildings and online venues. We need libraries
Internships are abused by employers and they should be monitored for misuse. And since college students do not need to see how the "real world" is going to be. Unpaid internship exploit college students
Greece cannot support its own economy and is bringing the Euro down. And since I believe the Euro cannot handle it. Greece will destroy the Euro Zone
I have poor handwriting and  mainly use technology but cursive writing still feels important to me. And since facts and actual use are less important than base sentimentality. Students should be taught cursive
The U.S. should support the Kurds only. And since Assad is only half Kurdish on his mother's side and not a true Kurd. The U.S. should not work with Assad to fight ISIS
The library brings community together as a center for development. And since there are not regular city meetings to bring the community together nor are there numerous events. We need libraries
My library has many kinds of learning available and provides a community space for everyone, which I love. And since churches and other buildings don't offer the same things and the internet is full of free information. We need libraries
Social mobility is stifled by unpaid internships. And since we don't need to keep some groups in their place socially. Unpaid internship exploit college students
Obamacare used low rates as a shell game to hide high deductibles and co-pays. And since I detest high deductibles because I often use my insurance. Obamacare is not working
They have paid for the right through taxes and deserve the chance to further their athletic abilities. And since even though people without children pay the taxes too. Home-schoolers should play for high school teams
Syria has hurt its own people and it should be addressed. And since it is the place of the US to be the watchdog of the world when plenty of our own are being mistreated. US should attack Syria
NATO is an organization without a purpose. And since NATO only looks good on paper. We should disband NATO
College sports make tuition higher. And since high tuition doesn't always mean more money to pay professors. Drop sports program in undergraduate schools
Internships are abused by employers and they should be monitored for misuse. And since Unpaid internships are insufficiently regulated.. Unpaid internship exploit college students
Librarians ensure teachers have the necessary resources. And since the internet doesn't offer teachers all the resources they could need. School librarians are not expendable
It is unsupportable for companies to suppress employees' future career options. And since a business shouldn't worry their employees becoming their next competitor. Businesses should not be allowed to have new employees sign noncompete deals
Understanding other culture is more important now than ever before. And since more people now fail to understand other cultures. Colleges need humanities programs
Vaccinations save lives. And since overpopulation isn't really a problem. Vaccination should be mandatory for all children
Enforcing minor violations sets the level of civility that is to be expected in neighborhoods. And since there aren't many minor violations that are silly and outdated and should be ignored. Strictly enforcing minor violations deter more serious crime
Politicians are criticized for pandering to unintelligent voters, so it makes no sense to demand that a larger number of such people be forced to vote. And since mandatory voting will force society as a whole to coerce more people. Voting should not be mandatory
We should support humanities programs to create a intellectual ecosystem that is complex and evolved. And since college is about complex intellectual ecosystems and not job preparation. Colleges need humanities programs
In recent years, there have been a few outbreaks of viruses that were once all but eradicated and they can be blamed on people who make "capable" choices. And since the freedom  of choice is dangerous here. Vaccination should be mandatory for all children
Humanities help students to process information and communicate with other people more effectively, sometimes in other languages. And since these are things that shouldn't be learned in the formative years or in one's spare time outside of school. Colleges need humanities programs
People who want extra salt should be able to enjoy it. And since they are free to patronize other restaurants but that would cost a restaurant their business. Salt should have a place at the table
Only those who are well off can afford to work without pay. And since college is no exception to the rule (college kids usually have no other income, from parents, financial aid, etc.) so. Unpaid internship exploit college students
Libraries provide much needed activities for caregivers and young children in communities. And since there aren't better venues for many activities. We need libraries
Dual citizenship allows one to enjoy the pros and cons of the home country and the country that is welcoming them. And since people should be welcomed in more than one country. Dual citizenship should be allowed
These preschools will benefit the lower middle class too who do not get free childcare programs, so their children won't be left out and fall behind. And since benefiting the lower middle class is a good policy. Public preschool is a smart investment
Reality shows fake misery, drama, and embarrassment and pretend as though it is real. And since regular television is staged and orchestrated events solely for entertainment purposes but this is supposed to be real. Reality shows are worse than other TV
Anyone refusing to vaccinate children should be liable for any disease or death they cause. And since the parents do not have to pay restitution for their choice. Vaccination should be mandatory for all children
Americans need to learn about other cultures. And since some Americans can't travel to learn about other cultures. Colleges need humanities programs
Standards of work should include minimum wages. And since college students are earning a valuable experience that is not more important than minimum wage. Unpaid internship exploit college students
[Not vaccinating] puts others at risk. And since those other people cannot get vaccinated. Vaccination should be mandatory for all children
Humanities help students to process information and communicate with other people more effectively, sometimes in other languages. And since we need more than one language to function even if we can use apps if we have to translate. Colleges need humanities programs
TFA has made teaching positions something that the best and brightest are in competition for. And since the best and brightest are what schools have at the moment. TFA has raised the status of public teachers
Without tenure, there are too many little things that teachers could lose their jobs over. And since Teachers need job stability. Tenure provides stability
My children's schooldays are too long to keep their attention. And since children wouldn't be afforded a mid-day nap were the day lengthened. School day should not be longer
The CIA is not very secretive which makes them ineffective. And since it is not the only secret agency we have. We don't need the C.I.A.
Internships permit students to work for free in order to prove that the student is worthy of future, paid work. And since 'worthiness' is a valid form of payment. Unpaid internship doesn't exploit college students
These preschools will benefit the lower middle class too who do not get free childcare programs, so their children won't be left out and fall behind. And since few private preschool programs are available and offer their own funding assistance without taking money from the taxpayer. Public preschool is a smart investment
TFA has made teaching positions something that the best and brightest are in competition for. And since TFA has elevated the public perception of these teaching positions. TFA has raised the status of public teachers
The chef can't know how each person wants their food seasoned. And since the chef may not season the food reasonably. Salt should have a place at the table
Writing cursive can stimulate thinking. And since we want students thinking all the time. Students should be taught cursive
If performance enhancing drugs are allowed it will be unfair to those not interested in taking them. And since not all athletes take performance enhancing drugs. Doping should not be allowed
Some are not willing to take the risk of vaccine injuries. And since the risk of vaccine injuries is much high than the risk of disease. Vaccination should not be mandatory for all children
People who choose not to vaccinate their children endanger their children as well as others. And since a little risk is no good for anyone. Vaccination should be mandatory for all children
Interns are replacing employees. And since internships do not provide valuable experience for the students while saving the companies money. Unpaid internship exploit college students
There is no proper method to evaluate colleges. And since the government could not come up with a proper method if it was given incentive. Government should not grade colleges
Only people with money can afford to be unpaid interns since some people need to work to support them self or pay their loans. And since College students support themselves. Unpaid internship exploit college students
Allowing doping will turn athletics into a chemical competition instead of a human one. And since people would not like a chemical competition. Doping should not be allowed
There aren't enough American citizens willing to work on farms. And since there won't be a decrease of farms so that there are enough American citizens to work on them. Farms couldn't survive without illegal labor
If they play for high school team maybe they can overcome the prejudice of being home schooled. And since their parents do not allow them to attend public school for a specific reason, this reason wouldn't still be present in the athletic programs. Home-schoolers should play for high school teams
Libraries provide access to books to minority children. And since books available to all smart devices don't feel the same as printed books. We need libraries
Farmer's should pay viable wages to American workers despite the higher prices that would result, America's history shows they will do the work. And since there are American workers wanted to work on a farm. Farms could survive without illegal labor
The number of city-bound cyclists to Manhattan has almost doubled in the last seven years. And since cyclists are not causing havoc to street traffic. New York's bike lanes are working
Overnight charging will be easy. And since it will cause your gas bill to get much lower. Electric cars will succeed
The CIA has historically been involved in war crimes and torture. And since the above activities are never needed. We don't need the C.I.A.
I believe salt preference is personal taste and you should be able to decide for yourself. And since a chef does not know better than you the proper amount of salt that is tasty. Salt should have a place at the table
Arab leaders have no interest in sitting beside a Jewish State that is responsible for decades of Arab refugees. And since Arab leaders aren't willing to change for peace. Hamas-Fatah unity can't lead to mideast peace
The difficulty in firing a tenured teacher is not a justifiable reason that tenure is wrong. And since It is not impossible to fire a tenured teacher. Tenure provides stability
Internships should be treated like all other work. And since a salary usually means an employee isn't exploited. Unpaid internship exploit college students
Organic food is worth the expense since cows that produce regular milk are given steroids that can inhibit the natural nutrients that are available in organic milk. And since organic milk prevents those poisonous nutrients from entering our body. Organic food is worth the expense
A vegan diet is simple and can benefit anyone. And since even bodybuilders are just like anyone. Veganism is good for everyone
There is a community made in the dorms. And since it's not easy to get too involved in that community and fall behind in one's studies, in the interest of educational quality. Students should live on campus
Nuclear reactors let out dangerous gases. And since those gases are more dangerous than gas from oil. Nuclear power is not the answer to climate change
Only people with money can afford to be unpaid interns since some people need to work to support them self or pay their loans. And since unpaid interns are not able to live rent free. Unpaid internship exploit college students
There is a community made in the dorms. And since colleges do not need diversity in addition to community. Students should live on campus
When school is not in session, one can still gain knowledge and a peaceful environment in a library. And since there aren't many parks and churches that also provide peaceful environments while school is not in session.. We need libraries
The slam dunk has lessened the attraction of watching an NBA game. And since most players in the NBA are able to dunk. Rim should be raised
A librarian can lead the school in information resource management and use. And since the library is still used in modern times even with the proliferation of internet access on phones. School librarians are not expendable
Libraries give a chance for poorer families to get information and reading material. And since more community programs are needed for families. We need libraries
Libraries can be safe havens for children. And since playgrounds can't be safe havens for children.. We need libraries
A proper library should be a focal point for it's community. And since the meeting point can't really be done somewhere else. We need libraries
The costs to replace school librarians with technology is prohibitive. And since librarians can't be replaced with technologies. School librarians are not expendable
Legitimate medical websites help distinguish between minor and serious conditions and tell when to seek a doctor. And since most medical websites are legitimate. Medical websites are healthful
Comments allow all views to be heard. And since all views should be heard. Comment sections have not failed
It is good to be informed about your health. And since being informed means to understand. Medical websites are healthful
People who care about spending time in these places should be willing to make early reservations for the crowded ones. And since restrictions might ultimately cut down on wait times. Overcrowded national parks should have restricted access
Every qualified student should be able to complete 2 years of community college. And since that's not easily affordable. College should be free
Artificial Intelligence can play a game and not otherwise interact. And since playing a game is different from reign over humankind. Machines are not gaining the upper hand on humans
Medical sites are useful in the middle of the night when offices are closed. And since people use them then decide to not wait until the next day and call the ambulance. Medical websites are healthful
Airlines have become a monopoly. And since monopoly is bad for the economy. Government should regulate airline industry again
Comments sections, when unfiltered, will always be vulgar, nasty, and hate-filled. And since people do not like to read vulgar, nasty things. Comment sections have failed
There are too many deranged people out there to use your real name especially if you are a woman. And since deranged people write rude comments. Comment sections have failed
They have a duty to denounce it since the rule of law is under attack. And since They need to uphold the rule of law regardless of any circumstances. Supreme court justice can denounce a candidate
The UC system admits far fewer CA high school students than it was designed to. And since the statistics proves neglecting. Public universities are neglecting in-state students
The costs of it are relatively low. And since low costs mean better coverage. Medicare doesn't need to be reformed
Turkey does not have much in common with the rest of the countries in NATO. And since it is not needed to fight Russia. Turkey doesn't belong to NATO
Patients know their body, but have limited doctor access. And since doctors are not needed for proper diagnosis. Medical websites are healthful
People can learn a lot from reading the comments. And since learning leads to questioning, which leads to acceptance. Comment sections have not failed
Muslim countries arrest or execute gays. And since many Christians would like for us to do the same as in Muslim countries. Christians have not created a harmful atmosphere for gays
Often times, I gain important insight and knowledge from the comment section. And since This important insight and knowledge usually turn out to be true. Comment sections have not failed
People who care about spending time in these places should be willing to make early reservations for the crowded ones. And since restrictions might ultimately cut down on wait times. Overcrowded national parks should have restricted access
Doctors need to be held to nationwide educational standards to get and keep their licenses. And since standards are enfornced by mandatory training. Opioid training should be mandatory
Comments are often better than the article itself. And since people want to read the whole story. Comment sections have not failed
Since doctors are responsible for the issue, they should help address it. And since the doctors haven't yet done everything they can to address the issue already. Opioid training should be mandatory
The humanities are vital to a broad and professional education. And since they are used in most jobs and in many peoples adult lives. Colleges need humanities programs
Humanities programs make people think differently and more creatively. And since Different and creative thinking is important.. Colleges need humanities programs
There can be allergies, and homeopathy is a better alternative. And since homeopathy is going to help those with polio or measles and those who are allergic cannot get exemptions. Vaccination should not be mandatory for all children
The CIA is too large and corrupt to be reformed. And since corruption is not the best way to infiltrate a foreign government. We don't need the C.I.A.
The internet contains sufficient nutrition information. And since most people have the internet. We do not need more advice about eating well
Internships should be treated like all other work. And since interns will not have a chance to earn a real job. Unpaid internship exploit college students
The chef can't know how each person wants their food seasoned. And since the chef has not always seasoned the dish to taste exactly as they envisioned. Salt should have a place at the table
They have paid for the right through taxes and deserve the chance to further their athletic abilities. And since they freely chose not to forego the tax benefits of public education. Home-schoolers should play for high school teams
Libraries have many events and activities as well as expert staff which play a vital role in the community. And since these activities are fun and vital to the community. We need libraries
The slam dunk has lessened the attraction of watching an NBA game. And since the NBA will be fun to watch. Rim should be raised
My daughter was simply lazy and not doing work, by cracking down I was able to get her to improve her grades. And since cracking down was done in many instances then she learned and was able to carry on with strict guidance. Extreme parenting leads to greater success
Gambling can be regulated through the use of a universal ID. And since the nations population will accept a universal ID. Internet gambling should be legalized
Public libraries provide equal access to information for all citizens for both recreation and education. And since this is free information available to everyone. We need libraries
A librarian can lead the school in information resource management and use. And since not everyone can learn to use information. School librarians are not expendable
Controlling nightmares leads to being better rested. And since mightmares don't allow our subconscience to act out its fears in a safe environment. We should manipulate our dreams
The U.S. should support the Kurds only. And since the Kurds are already fighting against ISIS. The U.S. should not work with Assad to fight ISIS
We all have a right to be protected against communicable diseases which cause serious issues or death. And since I cannot protect myself if i so choose. Vaccination should be mandatory for all children
The CIA has historically been involved in war crimes and torture. And since war crimes and torture aren't a necessary reality. We don't need the C.I.A.
If doping were allowed, the Olympics would become about which countries can afford the best technology rather than the spirit of the sport itself. And since all countries should be allowed to dominate the Olympic games. Doping should not be allowed
Libraries provide help for the homeless, including temporary shelter and career resources. And since homelessness has not been solved. We need libraries
The Rock Hall of fame gives people distraction from everyday life. And since there are many important things to focus on in everyday life. Rock Hall of Fame matters
Libraries provide access to books to minority children. And since there are many minority children. We need libraries
3D printing technology will evolve and grow, just like cell phones have. And since 3D printing will not evolve into a niche market for collectors. 3-D printing will change the world
The CIA is only good for destabilizing governments and fighting proxy wars. And since the CIA doesn't fight our wars. We don't need the C.I.A.
Sports in college are extraneous and have inappropriate impact on academic issues. And since sports makes no money for the schools and can't help fix academic issues. Drop sports program in undergraduate schools
Banks can get bailed out, but young people with student loans are locked into debt. And since everyone is cut out for it. College free for everyone
Students either take out loans, or pay out of pocket to work as an intern. And since students were willing to take out loans for a formal education they should not have to pay for on the job training. Unpaid internship exploit college students
Enforcing minor violations sets the level of civility that is to be expected in neighborhoods. And since these neighborhoods weren't totally civil before  'Broken Windows'. Strictly enforcing minor violations deter more serious crime
Sports in college are extraneous and have inappropriate impact on academic issues. And since sports are useless and stress the body. Drop sports program in undergraduate schools
There are machines that can do the illegal labor. And since these machines don't cost too much. Farms could survive without illegal labor
Doping affects the persons long term health for a short term gain. And since we should really care about the athlete's health. Doping should not be allowed
Without tenure, there are too many little things that teachers could lose their jobs over. And since none of the little reasons are good reasons to fire teachers. Tenure provides stability
Dual citizenship allows one to enjoy the pros and cons of the home country and the country that is welcoming them. And since just taking the best from a society is not selfish. Dual citizenship should be allowed
Farms depend on having a supply of unskilled workers who will work seasonal jobs with long hours and bad conditions without advancement opportunities. And since There are not enough unskilled workers residing legally.. Farms couldn't survive without illegal labor
Electric cars are practical for most people. And since practical alternative energies do not hurt the giant beast that is the oil industry.. Electric cars will succeed
movies become all about the special effects making pacing, story and character development irrelevant. And since movies today have terrible special effects. Computer-generated imagery is ruining cinema
They provide supplemental materials for curriculum to both teachers and students. And since technology can only provide so much information these days. We need libraries
The current system causes prostitutes to be unable to control their work and safety. And since legalizing prostitution will not make it occur more. Prostitution is safer when it's legal
Some are not willing to take the risk of vaccine injuries. And since willingness to take the vaccine matters. Vaccination should not be mandatory for all children
Unpaid internships can cost a person more than they provide. And since it is not worth taking a loss in order to gain valuable experience. Unpaid internship exploit college students
Players in the rest of the world don't want a higher basket. And since the US should have to make decisions based on other nations wishes. Rim should not be raised
They add a lot to the piece and I look forward to reading comments. And since comments sections are a welcome distraction from my work. Comment sections have not failed
Ginsberg is brave for speaking out. And since it does not show that she will be biased against anything that has anything to do with Trump. Supreme court justice can denounce a candidate
Comment sections provide insight. And since they can cause quiet meaningful debates. Comment sections have not failed
It is good to be informed about your health. And since you are able to find information online. Medical websites are healthful
Comments are informative. And since Information is important.. Comment sections have not failed
Many professors would refuse to work, they would not condone guns in their classrooms. And since the primary concern should be the feelings of the professors, not the safety of the students. Guns should not be permitted on college campuses
It is very nice to have the information easily available. And since a little information solves a lot of problems. Medical websites are healthful
Comment sections allow other views to be heard. And since these views are always welcome or agreeable to mainstream society. Comment sections have not failed
Muslim countries arrest or execute gays. And since Christian views are much different. Christians have not created a harmful atmosphere for gays
Comment sections devolve into insults and demagoguery. And since insults and demagoguery is the worst way of communication. Comment sections have failed
They provide other peoples perspectives on topics. And since these perspectives often include pure, loving comments directed at individual people. Comment sections have not failed
